<%= form_with url: passwords_path, class: "form__content" do |form| %>
  <h1 class="form__title">Forgot your password?</h1>

  <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

  <div class="form__div form__div-one">
      <div class="form__icon">
          <i class='bx bx-envelope'></i>
      </div>

      <div class="form__div-input">
          <%= form.label :email_address, class: "form__label" %>
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", class: "form__input", placeholder: "Enter your email address", value: params[:email_address] %>
      </div>
      <h1> Tên product </h1>
  </div>

  <input type="submit" class="form__button" value="Email reset instructions">
<% end %>
